<!DOCTYPE html>
<html>
<head>
<title>cupcakes</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<h1>Cakes</h1>


<ul class = 'cakeList'>

</ul>
<h4>New Cupcake:</h4>
<label for="flavor">flavor:</label>
<input type="text" id="flavor"><br>

<label for="size">size:</label>
<input type="text" id="size"><br>

<label for="rating">rating:</label>
<input type="number" id="rating"><br>

<label for="image">image url:</label>
<input type="text" id="image"><br>

<button class = 'new' type="submit">Submit New</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src = '/static/add_cakes.js'></script>
</body>

</html>